<body>
<section class = "rooms">
    <div class = "current-room"><h2 class = "rooms-title">{{ currentRoom.name }}</h2>
    </div>
    <div class = "current-messages">
<!--        need ng-repeat here-->
        <table>
            <p>
            <tr>
                <th class = "name">{{ messages.content }}</th>
                <th class = "time">{{ room || date }}</th>
            </tr>
            </p>
        </table>
    </div>
    <div class = "reply-box">
        <input class = "message-box" type = "text box" placeholder = "What do you want to say?"> 
        <button class = "reply" ng-submit = "sendMessage(messages)">Reply</button>
    </div>
</section>
<section class = "side-bar">
    <div class = "title-button">
        <button ng-click="addChatRoom()" class= "add">Add Chatter!</button>
        <h1 class ="chitter">Chitter</h1>
    </div>

    <div ng-repeat = "room in roomList" class ="chat-rooms" ng-click = "setCurrentRoom(room)">
        <p>{{ room.name }}</p>
        <p class = "date">{{ room.createdAt | date }}</p>
    </div>
    
<!--    <div class = "design">-->
<!--        working title ; plan to push image to bottom/right of side-bar -->
<!--    <img src = "/assets/images/bglines.gif" class = "desgin-type" class = "web-design">-->
<!--    </div>-->
    
</section>
<section class = "user-bar">
    <div class = "user-details">
        <h3 class = "current-user"> {{ currentUser }} </h3>
        <button class = "sign-off">Sign Off</button>
    </div>
</section>
</body>


